@model IEnumerable<BookForListVM>

@{
	ViewData["Title"] = "Home Page";
	var allGenres = (IEnumerable<Genre>)ViewBag.AllGenres;
	var shoppingCart = (ShoppingCart)ViewBag.ShoppingCart;
}

<!--Swiper Banner Start -->
<div class="main-slider style-1">
	<div class="main-swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide bg-blue" style="background-image: url(images/background/waveelement.png);">
				<div class="container">
					<div class="banner-content">
						<div class="row">
							<div class="col-md-6">
								<div class="swiper-content">
									<div class="content-info">
										<h6 class="sub-title" data-swiper-parallax="-10">BEST MANAGEMENT </h6>
										<h1 class="title mb-0" data-swiper-parallax="-20">Think and Grow Rich</h1>
										<ul class="dz-tags" data-swiper-parallax="-30">
											<li><a href="javascript:void(0);">Napoleon Hill</a></li>
											<li><a href="javascript:void(0);">Business & Strategy</a></li>
										</ul>
										<p class="text mb-0" data-swiper-parallax="-40">It is a long established fact
											that a reader will be distracted by the readable content of a page when
											looking at its layout. The point of using Lorem Ipsum is that it has a
											more-or-less normal.</p>
										<div class="price" data-swiper-parallax="-50">
											<span class="price-num">$17.2</span>
											<del>$15.25</del>
											<span class="badge badge-danger">15% OFF</span>
										</div>
										<div class="content-btn" data-swiper-parallax="-60">
											<a class="btn btn-primary btnhover" href="books-grid-view.html">Buy Now</a>
											<a class="btn border btnhover ms-4 text-white" href="books-detail.html">See
												Details</a>
										</div>
									</div>
									<div class="partner">
										<p>Our partner</p>
										<div class="brand-logo">
											<img src="images/partner/partner-1.png" alt="client">
											<img class="mid-logo" src="images/partner/partner-2.png" alt="client">
											<img src="images/partner/partner-3.png" alt="client">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="banner-media" data-swiper-parallax="-100">
									<img src="images/banner/banner-media.png" alt="banner-media">
								</div>
								<img class="pattern" src="images/Group.png" data-swiper-parallax="-100" alt="dots">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide bg-blue" style="background-image: url(images/background/waveelement.png);">
				<div class="container">
					<div class="banner-content">
						<div class="row">
							<div class="col-md-6">
								<div class="swiper-content">
									<div class="content-info">
										<h6 class="sub-title" data-swiper-parallax="-10">BEST SELLER</h6>
										<h1 class="title mb-0" data-swiper-parallax="-20">Pushing Clouds</h1>
										<ul class="dz-tags" data-swiper-parallax="-30">
											<li><a href="javascript:void(0);">Napoleon Hill</a></li>
											<li><a href="javascript:void(0);">Business & Strategy</a></li>
										</ul>
										<p class="text mb-0" data-swiper-parallax="-40">Lorem ipsum dolor sit amet,
											consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
											dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
											ullamco laboris</p>
										<div class="price" data-swiper-parallax="-50">
											<span class="price-num">$9.5</span>
											<del>$12.0</del>
											<span class="badge badge-danger">20% OFF</span>
										</div>
										<div class="content-btn" data-swiper-parallax="-50">
											<a class="btn btn-primary btnhover" href="books-grid-view.html">Buy Now</a>
											<a class="btn border btnhover ms-4 text-white" href="books-detail.html">See
												Details</a>
										</div>
									</div>
									<div class="partner">
										<p>Our partner</p>
										<div class="brand-logo">
											<img src="images/partner/partner-1.png" alt="client">
											<img class="mid-logo" src="images/partner/partner-2.png" alt="client">
											<img src="images/partner/partner-3.png" alt="client">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="banner-media" data-swiper-parallax="-100">
									<img src="images/banner/banner-media2.png" alt="banner-media1">
								</div>
								<img class="pattern" src="images/Group.png" data-swiper-parallax="-100" alt="dots">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container swiper-pagination-wrapper">
			<div class="swiper-pagination-five"></div>
		</div>
	</div>
	<div class="swiper main-swiper-thumb">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="books-card">
					<div class="dz-media">
						<img src="images/books/book16.png" alt="book">
					</div>
					<div class="dz-content">
						<h5 class="title mb-0">Think and Grow Rich</h5>
						<div class="dz-meta">
							<ul>
								<li>by Napoleon Hill</li>
							</ul>
						</div>
						<div class="book-footer">
							<div class="price">
								<span class="price-num">$9.5</span>
							</div>
							<div class="rate">
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="books-card">
					<div class="dz-media">
						<img src="images/books/grid/book9.jpg" alt="book">
					</div>
					<div class="dz-content">
						<h5 class="title mb-0">Pushing Clouds</h5>
						<div class="dz-meta">
							<ul>
								<li>by Jamet Sigh</li>
							</ul>
						</div>
						<div class="book-footer">
							<div class="price">
								<span class="price-num">$5.7</span>
							</div>
							<div class="rate">
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-muted"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="books-card">
					<div class="dz-media">
						<img src="images/books/book16.png" alt="book">
					</div>
					<div class="dz-content">
						<h5 class="title mb-0">Think and Grow Rich</h5>
						<div class="dz-meta">
							<ul>
								<li>by Napoleon Hill</li>
							</ul>
						</div>
						<div class="book-footer">
							<div class="price">
								<span class="price-num">$9.5</span>
							</div>
							<div class="rate">
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="books-card">
					<div class="dz-media">
						<img src="images/books/grid/book9.jpg" alt="book">
					</div>
					<div class="dz-content">
						<h5 class="title mb-0">Pushing Clouds</h5>
						<div class="dz-meta">
							<ul>
								<li>by Jamet Sigh</li>
							</ul>
						</div>
						<div class="book-footer">
							<div class="price">
								<span class="price-num">$5.7</span>
							</div>
							<div class="rate">
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-muted"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Swiper Banner End-->
<!-- Client Start-->
<div class="bg-white py-5">
	<div class="container">
		<!--Client Swiper -->
		<div class="swiper client-swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="images/client/client1.svg" alt="client"></div>
				<div class="swiper-slide"><img src="images/client/client2.svg" alt="client"></div>
				<div class="swiper-slide"><img src="images/client/client3.svg" alt="client"></div>
				<div class="swiper-slide"><img src="images/client/client4.svg" alt="client"></div>
				<div class="swiper-slide"><img src="images/client/client5.svg" alt="client"></div>
			</div>
		</div>
	</div>
</div>
<!-- Client End-->


@section LoadCartItems {

	@if (shoppingCart?.ShoppingCartItems?.Count > 0)
	{
		@foreach (var cartItem in shoppingCart.ShoppingCartItems)
		{

			<li class="cart-item">
				<div class="media">
					<div class="media-left">
						<a asp-action="Details" asp-controller="Books" asp-route-id="@cartItem.ProductId">
							<img class="media-object" src="@cartItem.PictureUrl">
						</a>
					</div>
					<div class="media-body">
						<h6 class="dz-title"><a asp-action="Details" asp-controller="Books" asp-route-id="@cartItem.ProductId"
								class="media-heading">@cartItem.Name</a></h6>
						<span class="dz-price">@cartItem.Price.ToString("C")</span>
						<span class="item-close">&times;</span>
					</div>
				</div>
			</li>
		}

		<li class="cart-item text-center">
			<h6 class="text-secondary">Total = @shoppingCart.ShoppingCartItems.Sum(x => x.Price * x.Quantity).ToString("C")</h6>
		</li>
		<li class="text-center d-flex">
			<a asp-action="Index" asp-controller="ShoppingCart" class="btn btn-sm btn-primary me-2 btnhover w-100">View Cart</a>

			<a asp-action="PlaceOrder" asp-controller="Orders" asp-route-shoppingCartId="@shoppingCart.BasketId"
				class="btn btn-sm btn-outline-primary btnhover w-100">Place Order</a>
		</li>
	}

}


@section SelectGenre {
	<select class="default-select">
		<option value="@null">Category</option>

		@foreach (var item in allGenres)
		{
			<option class="categorySectionGenreName" value="@item.Id">@item.GenreName</option>
		}
	</select>
}


<section class="content-inner-1 bg-grey reccomend">
	<div class="container">

		<div class="section-head text-center">
			<h2 class="title">Recommended For You</h2>
		</div>

		<!-- Swiper -->
		<div class="swiper-container swiper-two">
			<div class="swiper-wrapper">

				@foreach (var book in Model)
				{
					<div class="swiper-slide" style="width: 210px; margin-right: 30px;">
						<div class="books-card style-1 wow fadeInUp" data-wow-delay="0.4s">
							<div class="dz-media">
								<img src="@book.PictureUrl" alt="@book.Title">
							</div>
							<div class="dz-content">
								<h4 class="title">@string.Join(' ', book.Title.Split(' ').Take(2)) ...</h4>
								<span class="price">@book.Price.ToString("C")</span>
								<form asp-action="AddToBasket" asp-controller="ShoppingCart" method="post">
									<input type="hidden" name="productId" value="@book.Id" />
									<input type="hidden" name="quantity" value="1" />
									<form asp-action="addToBasket" asp-controller="ShoppingCart" method="post">
										<input type="hidden" name="productId" value="@book.Id" />
										<input type="hidden" name="quantity" value="1" />
										<button class="btn btn-secondary btnhover btnhover2" role="button">
											<i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart
										</button>
									</form>
								</form>
							</div>
						</div>
					</div>
				}

			</div>
		</div>

	</div>
</section>





@section FooterCategory {
	<!-- Footer Category -->
	<div class="footer-category">
		<div class="container">
			<div class="category-toggle">
				<a href="javascript:void(0);" class="toggle-btn" id="allBooksCategories">Books categories</a>
				<div class="toggle-items row">
					<div class="footer-col-book">
						<ul>
							@foreach (var genre in allGenres)
							{
								<li><a asp-action="GetBooksWithRelatedGenre" asp-controller="Home"
										asp-route-id="@genre.Id">@genre.GenreName</a></li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Category End -->
}

@section Scripts {
	<script>
		var swiper = new Swiper('.swiper-two', {
			loop: true, // Enable looping
			slidesPerView: 4, // Adjust based on your design
			spaceBetween: 30, // Space between slides
			// Add other configurations as needed
		});



		const selectCategoryGenreName = document.querySelector('.default-select');
		selectCategoryGenreName.addEventListener('change', function () {
			console.log(this.value)
			const genreId = this.value;
			window.open(`/Home/GetBooksWithRelatedGenre/${genreId}`, '_self');
		})

	</script>

}